* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Added universal color: #ffffff and font-family declaration */
}

body {
    background-color: #d9dcd6;
}

/* HEADER AND NAV STYLING */ 

header {
    padding: 20px;
    background-color: #2a607c;
    /* Header and nav elements added to reflect html semantic layout change and font-family removed as per universal declaration */
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

.seoText {
    color: #d9dcd6;
    /* Removed redudant header selector */
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
} 

/* HERO SECTION STYLING */

.heroImage {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* MAIN CONTENT STYLING */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    /* Main element added to reflect html semantic layout change */
}

.main-propositions  {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    /* Article classes in main section selected and declarations consolidated */
}

.main-propositions img {
    max-height: 200px;
    /* Images in article classes in main section selected and declarations consolidated */
}

#search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* SIDEBAR STYLING */

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    /* Aside element added to reflect html semantic layout change */
}

.horiseon-benefits {
    margin-bottom: 32px;
    /* Class selectors consolidated */
}

.horiseon-benefits h3 {
    text-align: center;
    /* Text-align declaration consolidated */
}

.horiseon-benefits img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
    /* Article images selected and declarations consolidated */
}

/* FOOTER STYLING */

footer {
    padding: 30px;
    clear: both;
    text-align: center;
    /* Footer element added to reflect html semantic layout change and and font-family removed as per universal declaration */
}

footer h4 {
    font-size: 20px;
    /* Footer and h4 element added to reflect html semantic layout change */
}

footer > * {
    color: black;
    /* Resetted footer fonts to black from universal override by selecting all child elements if footer */
}